<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <script src="https://js.pay.jp/v2/pay.js" async></script>
  <%= javascript_include_tag "card", "data-turbo-track": "reload", defer: true %>


  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  
</head>

<body>
  
  

 

  <%= yield %>
</body>

</html>

